<!DOCTYPE html>
<html>
    <head>
        <title>Nordic Door</title>
        <link rel="stylesheet" href="Forslagsside.CSS">
        <meta charset="UTF-8">
    </head>
    <body>
        

        <form>
                <img src="NordicDoorLogo.png" width="500" height="237">

                <h1>Forslag</h1>
                <br>

                <table style="width:100%">
                    <tr style="height:75px">
                      <th style="width:33%">Ansatt</th>
                      <th style="width:34%">Forslag</th>
                      <th style="width:33%">Dato</th>
                    </tr>
                    <tr style="height:75px">
                      <td>Sindre Kristiansen</td>
                      <td>Kortere arbeidsdager</td>
                      <td>30-Okt-22</td>
                    </tr>
                    <tr style="height:75px">
                      <td>Thomas Tvedten</td>
                      <td>Sove lenger</td>
                      <td>31-Okt-22</td>
                    </tr>
                    <tr style="height:75px">
                      <td>Marius Fjermeros</td>
                      <td>Treningssenter på kontoret</td>
                      <td>01-Nov22</td>
                    </tr>
                    <tr style="height:75px">
                      <td>Kevin Lauren</td>
                      <td>Skarpere sag på jobb</td>
                      <td>01-Nov-22</td>
                    </tr>
                  </table>        
        </form>

    </body>
</html>