@model IEnumerable<Team_Medlemmer>
@{ ViewData["Title"] = "Index";

}

<partial name="_Notification" />
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Team Medlemmer</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Team_medlemmer" asp-action="Opprett" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> &nbsp; Opprett Teammedlemmer
            </a>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped" style="width:100%">

        <thead>
            <tr style="background-color:#2B476C">
                <th>
                    Teamnummer
                </th>
                <th>
                    Ansattnummer
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width:"50%">
                        @obj.Team_ID
                    </td>

                    <td width:"30%">
                        @obj.Bruker_ID
                    </td>

                </tr>
            }
        </tbody>

    </table>

</div>

