<!DOCTYPE Html>
    <html>
    <head>
        <title>Nordic Door</title>
        <link rel="stylesheet" href="nordicdoor.css">
        <meta charset="UTF-8">
    </head>

    <body>
    
        
    </form>

   </fieldset>

   <legend2>Registrer bruker - Ny ansatt</legend2>

   <div>
  <form action="/action_page.php">
  <label for="fname">Fornavn:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
   </div>

    <div>
  <label for="lname">Etternavn:</label><br>
  <input type="text" id="lname" name="lname" value=""><br>
   </div>

   <div>
  <label for="Teamnr">Teamnummer:</label><br>
  <input type="text" id="Teamnr" name="Teamnr" value=""><br>
   </div>

   <div>
  <label for="Tlf">Telefonnummer:</label><br>
  <input type="number" id="Tlf" name="Tlf" value="">
  </div>

  <br><br>


  <p>Kjønn </p>


    <input type="radio" id="Mann" name="fav_language" value="Mann">
    <label for="html">Mann</label><br>

    <input type="radio" id="Kvinne" name="fav_language" value="Kvinne">
    <label for="css">Kvinne</label><br>

    <input type="radio" id="Annet" name="fav_language" value="Annet">
    <label for="javascript">Annet</label>


     <input type="submit" value="Submit">


   </fieldset>
   </form> 

  </body>

    
</html>