@model List<FileModel>;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }

            table th {
                background-color: #F7F7F7;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>File Name</th>
            <th></th>
        </tr>
        @foreach (FileModel file in Model)
        {
            <tr>
                <td>@file.Id</td>
                <td>@file.FileName</td>
                <td>@Html.ActionLink("Download", "DownloadFileImage", new { Id = file.Id, FileName = file.FileName })</td>
            </tr>
        }
    </table>
</body>
</html>