@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Nordic Door</h1>
    <p>Last opp fil <a href="https://localhost:5001/home/FileUpload">Filopplasting</a>.</p>
    <p>Last opp bilde <a href="https://localhost:5001/home/FileUploadImages">Bildeopplasting</a>.</p>
    <p>Nedlasting av fil <a href="https://localhost:5001/home/Download">Filnedlasting</a>.</p>
    <p>Nedlasting av bilde <a href="https://localhost:5001/home/DownloadImage">Bildenedlasting</a>.</p>

</div>



