@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Upload a file <a href="https://localhost:5001/home/FileUpload">File Upload</a>.</p>
    <p>Upload an image file <a href="https://localhost:5001/home/FileUploadImages">Image File Upload in DB as blob</a>.</p>
    <p>Download a file <a href="https://localhost:5001/home/Download">File Download</a>.</p>
    <p>Download image file <a href="https://localhost:5001/home/DownloadImage">Image File Download</a>.</p>

</div>



