@model Bruker

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Opprett Bruker</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Navn"></label>
            <input asp-for="Navn" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Ansatt_ID"></label>
            <input asp-for="Ansatt_ID" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Epost"></label>
            <input asp-for="Epost" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Telefon"></label>
            <input asp-for="Telefon" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Postnummer"></label>
            <input asp-for="Postnummer" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Opprett Bruker</button>
        <a asp-controller="Bruker" asp-action="Index" class="btn btn-secondary" style="width:160px">
            Tilbake til oversikt
        </a>
    </div>
</form>

@section Scripts{
    @{
         <partial name="_ValidationScriptsPartial" />
     }
}
